*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #222;
    color: white;
}

.container{
    width: 1000px;
    margin: 5% auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}

.card{
    background-color: #3D52A1;
    padding: 1rem;
    border-radius: 25px;
}

.bg{
    background-color: #8697C3;
    padding: 1rem;
    margin: 1rem;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
}